<%- include('partials/header',{ isDashboard: true}) -%>

<div class="container">
  <h2 class="heading">Hello <%= user.username %>!</h2>
  <p class="sub-heading">Welcome to FSD-WD-T-B4-Task-11 dashboard.</p>
</div>
